@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Application made by Oleksii Vorobiov, IS-11</h1>
    <h3>Тема 30: Облік послуг готелю </h3>
    <p>Готель надає номери клієнтам на певний термін. Кожен номер характеризується місткістю, комфортністю (президентський, люкс, напівлюкс, звичайний) і ціною. При поселенні в готель клієнт вказує необхідні характеристики номера (місткість, комфортність); якщо є відповідні вільні номери, то клієнт займає номер. При цьому адміністратор фіксує дані клієнта (ПІБ, контактний телефон, номер паспорта), дату поселення, і визначається вигляд застави (документи або гроші). При виїзді з готелю адміністратор готелю формує рахунок на оплату, який передається клієнту. Клієнт оплачує рахунок у філії банку. Сплачений рахунок клієнт передає адміністратору, після чого йому повертається застава.</p>
    <div>
        <h4 class="fw-bold">Діаграма БД</h4>
        <img width="500" src="images/Diagramm.png" />
    </div>
    
</div>
